{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Gestion des Campus
{% endblock %}

{% block stylesheets %}
    <style>
        .table-striped thead tr th {
            background-color: #00b2b2;
            color: white;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">

        <h1 class="text-center p-4">Gérer les campus</h1>

        <h4 class="mb-3">Filtrer les campus</h4>
        {{ form_start(searchCampusForm, {'attr': {'class': 'row g-3 mb-4'}}) }}
        <div class="col-md-4">
            <div class="col-md-6 input-group">
                <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </span>
                    {{ form_widget(searchCampusForm.nomCampus, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            {{ form_errors(searchCampusForm.nomCampus) }}
        </div>
        <div class="col-md-2 align-self-end">
            <button type="submit" name="rechercher" class="btn btn-primary">Rechercher</button>
        </div>
        {{ form_end(searchCampusForm) }}

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for camp in campus %}
                <tr>
                    <td>{{ camp.nom }}</td>
                    <td>
                        <button class="btn btn-success btn-sm" id="deactivateBtn" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-name="{{ camp.nom }}" data-bs-id="{{ camp.id }}">Modifier</button>
                        <a href="{{ path('admin_campus_delete', {'id': camp.id}) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ form_start(campusForm) }}
                    {{ form_widget(campusForm.nom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(campusForm.nom) }}
                </td>
                <td class="align-middle">
                    <a href="{{ path('admin_campus') }}" class="btn btn-primary m-2" onclick="document.getElementById('submitCampusForm').click(); return false;">Ajouter</a>
                    <input type="submit" id="submitCampusForm" name="submitCampusForm" class="d-none">
                    {{ form_end(campusForm) }}
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Modifier les informations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm" method="post">
                        <div class="mb-3">
                            <label for="editName" class="form-label">Campus</label>
                            <input type="text" class="form-control" id="editName" name="nom">
                        </div>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/campus.js') }}"></script>
{% endblock %}
